<%= stylesheet_link_tag 'users', media: 'all' %>
<h1>Users</h1>
<% @users.each do |user| %>
<div class="user-card">
  <div class="user-card__name"><%= user.name %></div>
  <div class="user-card__age"><%= user.age %></div>
  <div class="user-card__updated_at"><%= format_updated_at(user) %></div>
</div>
<% end %>
