:root {
    --primary-color: #3498db;
    /* Blue */
    --secondary-color: #2ecc71;
    /* Green */
    --accent-color: #f39c12;
    /* Yellow */
    --text-color: #333;
    /* Dark gray for text */
    --muted-text-color: #777;
    /* Light gray for less important text */
    --background-color: #fff;
    /* White background */
    --card-border-color: #ddd;
    /* Light gray for card borders */
    --hover-shadow-color: rgba(0, 0, 0, 0.1);
    /* Shadow color for hover effects */
    --date-text-color: #888;
    /* Light gray for date text */
}

.user-page {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.user-list {
    margin-top: 16px;
}

/* Style for individual user cards */
.user-card {
    background-color: var(--background-color);
    border: 1px solid var(--card-border-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--hover-shadow-color);
    width: 250px;
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect to make the card pop */
.user-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px var(--hover-shadow-color);
}

/* Styles for user name */
.user-card__name {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 8px;
    text-align: center;
}

/* Styles for user age */
.user-card__age {
    font-size: 1em;
    color: var(--muted-text-color);
    margin-bottom: 8px;
}

/* Styles for updated date */
.user-card__updated_at {
    font-size: 0.9em;
    color: var(--date-text-color);
    margin-top: 12px;
}